version: '3.8'

networks:
  laravel:
    name: laravel
    external: true

volumes:
  caddy_caddyfile:
  portainer_data:

services:




  portainer:
    image: portainer/portainer-ce
    container_name: portainer
    restart: always
    ports:
      - "9008:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

    networks:
      - laravel


  caddy:
    container_name: caddy
    image: dockerhub.timeweb.cloud/library/caddy:2.6
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    networks:
      - laravel
    #        - web2412
    volumes:
      - ./caddy/config:/config/caddy
      - caddy_caddyfile:/etc/caddy
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile

      - '${FOLDER_2503MASTER}:${FOLDER_2503MASTER_SERV}'

      #livewire
      - '${FOLDER_2309LIVEWIRE}:${FOLDER_2309LIVEWIRE_SERV}'
      - '${FOLDER_2308BEGET}:${FOLDER_2308BEGET_SERV}'

      - '${FOLDER_2410SVO}:${FOLDER_2410SVO_SERV}'

      - '${FOLDER_2505TIMEFV}:${FOLDER_2505TIMEFV_SERV}'
